<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" [routerLink]="['/Janis']" fragment="home">Janis Pampoukidis</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <img src="assets/img/hamburger.png" alt="Menü" id="hamburger" width="35px">
          </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/Janis']" fragment="home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/Janis']" fragment="überMich" translate>header.überMich</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/Janis']" fragment="skills">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/Janis']" fragment="werdegang" translate>header.werdegang</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/Janis']" fragment="projekte" translate>header.projekte</a>
                </li>
            </ul>
            <div id="eng">
                <select class="form-select language" aria-label="Default select example" (change)="translateConfigService.changeLanguage($event.target.value)">
                    <option id="deutsch" value="de"translate>header.deutsch</option>
                    <option id="englisch" value="en" translate>header.englisch</option>
                </select>
            </div>
            <br>

            <div class="theme-switcher-wrap" id="eng">
                <div id="eng" style="display: inline-flex;">
                    <img src="assets/img/dark_mode.png" alt="Dark Mode" width="30px" id="dark_mode">
                </div>
                <label [ngClass]="(_darklight.storedTheme === 'theme-light')?'theme-switcher active' : 'theme-switcher'" (click)="_darklight.setTheme()">
                        <div class="switch-path">
                        <div class="switch-handle"></div>
                    </div>
                </label>
            </div>
        </div>

        <div id="weit">
            <img src="assets/img/dark_mode.png" alt="Dark Mode" width="30px" id="dark_mode">
        </div>

        <div class="theme-switcher-wrap" id="weit">
            <label [ngClass]="(_darklight.storedTheme === 'theme-light')?'theme-switcher active' : 'theme-switcher'" (click)="_darklight.setTheme()">
                <div class="switch-path">
                    <div class="switch-handle"></div>
                </div>
            </label>
        </div>

        <div id="weit">
            <select class="form-select language" aria-label="Default select example" (change)="translateConfigService.changeLanguage($event.target.value)">
                <option id="deutsch" value="de"translate>header.deutsch</option>
                <option id="englisch" value="en" translate>header.englisch</option>
            </select>
        </div>
    </nav>
</header>