header {
    .navbar {
        z-index: 2!important;
        position: fixed !important;
        width: 100% !important;
    }
    .bg-dark {
        background-color: black !important;
    }
    .language {
        color: black;
        float: right;
    }
    .language option {
        color: black;
    }
}