<!-----------------------------Header----------------------------------------->
<header>
    <nav>
        <ul>
            <li><a href="#home" class="txt">Home</a></li>
            <li><a href="#überMich" class="txt">Über mich</a></li>
            <li><a href="#skills" class="txt">Skills</a></li>
            <li><a href="#werdegang" class="txt">Werdegang</a></li>
            <li><a href="#projekte" class="txt">Projekteee</a></li>
        </ul>
    </nav>
</header>

<footer>
    <button id="oben"><a href="#home">Oben</a></button>
</footer>


<!-----------------------------Home----------------------------------------->
<section id="home">
    <img src="assets/img/Janis.png" alt="Janis">

    <div class=" vorstellen ">
        <h5>Hi, ich bin</h5>
        <h1 id="name ">Janis Pampoukidis.</h1>
        <h5 id="SoftEnt ">Software Entwickler</h5>
        <button type="button " class="btn btn-outline-danger "><a href="#überMich " class="txt2 ">Über mich</a></button>
    </div>
</section>


<!-----------------------------Über mich----------------------------------------->
<section id="überMich ">
    <h1 class="headerLine">Über Mich</h1>
    <hr>

    <div class="card2 ">
        <div class="card-body ">

        </div>
    </div>
</section>

<!-----------------------------Skills----------------------------------------->
<section id="skills ">
    <h1 class="headerLine">Skills</h1>
    <hr>

    <div class="card2 ">
        <div class="card-body ">
            <img src="assets/img/Angular.png " alt="Angular " width="80px " style="margin-bottom: 10px; ">
            <div class="progress ">
                <div class="progress-bar " role="progressbar " style="width: 40%; " aria-valuenow="2 " aria-valuemin="0 " aria-valuemax="100 ">40%</div>
            </div>

            <img src="assets/img/SAPUI5.png " alt="SAPUI5 " width="80px " style="margin-top: 20px; margin-bottom: 10px; ">
            <div class=" progress " style="margin-bottom: 40px; ">
                <div class="progress-bar " role="progressbar " style="width: 5; " aria-valuenow="2 " aria-valuemin="0 " aria-valuemax="100 ">5%</div>
            </div>

            <div class="tags ">
                <span class="badge badge-secondary ">HTML</span>
                <span class="badge badge-secondary ">CSS</span>
                <span class="badge badge-secondary ">JavaScript</span>
                <span class="badge badge-secondary ">TypeScript</span>
                <span class="badge badge-secondary ">PHP</span>
                <span class="badge badge-secondary ">SQL</span>
                <span class="badge badge-secondary ">Java</span>
                <span class="badge badge-secondary ">ABAP</span>
                <span class="badge badge-secondary ">Angular</span>
                <span class="badge badge-secondary ">SAPUI5</span>
                <span class="badge badge-secondary ">Linux</span>
                <span class="badge badge-secondary ">Windows</span>
                <span class="badge badge-secondary ">Raspberry Pi</span>
                <span class="badge badge-secondary ">Git</span>
            </div>
        </div>
    </div>
</section>

<!-----------------------------Werdegang----------------------------------------->
<section id="werdegang ">
    <h1 class="headerLine">Werdegang</h1>
    <hr>
</section>

<!-----------------------------Projekte----------------------------------------->
<section id="projekte ">
    <h1 class="headerLine">Projekte</h1>
    <hr>
</section>