<div id="body">
    <header>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#überMich">Über mich</a></li>
                <li><a href="#werdegang">Werdegang</a></li>
                <li><a href="#projekte">Projekte</a></li>
            </ul>
        </nav>
    </header>


    <section id="home">
        <h1>Home</h1>
    </section>

    <section id="überMich">
        <h1>Über Mich</h1>
    </section>

    <section id="werdegang">
        <h1>Werdegang</h1>
    </section>

    <section id="projekte">
        <h1>Projekte</h1>
    </section>
</div>