<section id="skills">
    <h1 class="headerLine">Skills</h1>
    <hr>
    <div class="card2">
        <div class="card-body" data-aos="fade-up">
            <img src="assets/img/Angular.png " alt="Angular " width="80px " style="margin-bottom: 10px; ">
            <div class="progress ">
                <div class="progress-bar " role="progressbar " style="width: 40%; " aria-valuenow="2 " aria-valuemin="0 " aria-valuemax="100 ">40%</div>
            </div>

            <img src="assets/img/SAPUI5.png " alt="SAPUI5 " width="80px " style="margin-top: 20px; margin-bottom: 10px; ">
            <div class=" progress " style="margin-bottom: 60px; ">
                <div class="progress-bar " role="progressbar " style="width: 30%; " aria-valuenow="2 " aria-valuemin="0 " aria-valuemax="100 ">30%</div>
            </div>
            <h5 id="aSkills" style="margin-bottom: 30px;" translate>skills.andere</h5>
            <div class="tags">
                <span class="badge badge-secondary ">HTML</span>
                <span class="badge badge-secondary ">CSS</span>
                <span class="badge badge-secondary ">JavaScript</span>
                <span class="badge badge-secondary ">TypeScript</span>
                <span class="badge badge-secondary ">PHP</span>
                <span class="badge badge-secondary ">SQL</span>
                <span class="badge badge-secondary ">Java</span>
                <span class="badge badge-secondary ">ABAP</span>
                <span class="badge badge-secondary ">Angular</span>
                <span class="badge badge-secondary ">SAPUI5</span>
                <span class="badge badge-secondary ">Express</span>
                <span class="badge badge-secondary ">ASP.NET</span>
                <span class="badge badge-secondary ">MySQL</span>
                <span class="badge badge-secondary ">MongoDB</span>
                <span class="badge badge-secondary ">Arduino</span>
                <span class="badge badge-secondary ">Linux</span>
                <span class="badge badge-secondary ">Windows</span>
                <span class="badge badge-secondary ">Raspberry Pi</span>
                <span class="badge badge-secondary ">Git</span>
            </div>
        </div>
    </div>
</section>