//-----------------------Skills-------------------------------
#skills {
    text-align: center;
    background-color: rgb(48, 48, 48);
}

#box2 {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 100px;
}

.badge {
    font-size: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
}

.progress-bar {
    background-color: rgb(255, 119, 8);
}

@media only screen and (max-width: 1118px) {}