<section id="werdegang">
    <h1 class="headerLine" translate>header.werdegang</h1>
    <hr>
    <div class="card2">
        <div class="card-body" data-aos="fade-up">
            <div>
                <img [src]="currentTheme === 'theme-dark' ? 
                                (currentLang === 'de' ? 'assets/img/werdegang_WEß_DE.svg' : 'assets/img/werdegang_WEß_EN.svg')
                              : (currentLang === 'de' ? 'assets/img/werdegang_SCHWARZ_DE.svg' : 'assets/img/werdegang_SCHWARZ_EN.svg')" alt="" class="werdegangIMG">
            </div>
        </div>
    </div>
</section>