#werdegang {
    .card2 {
        height: auto;
        min-height: 80%;
    }
    .werdegangIMG {
        margin-top: 50px;
        width: 800px;
    }
    .werdegangIMGMobil {
        width: 200px;
    }
    text-align: center;
}