<section id="werdegang">
    <h1 class="headerLine" translate>header.werdegang</h1>
    <hr>
    <div class="card2">
        <div class="card-body" data-aos="fade-up">
            <div class="timeline-steps aos-init aos-animate">
                <div class="timeline-step">
                    <div class="timeline-content" data-original-title="2003">
                        <div class="inner-circle"></div>
                        <p class="h6 mt-3 mb-1">2010 - 2014</p>
                        <p class="h6 text-muted mb-0 mb-lg-0" translate>werdegang.grundschule</p>
                    </div>
                </div>
                <div class="timeline-step">
                    <div class="timeline-content" data-original-title="2003">
                        <div class="inner-circle"></div>
                        <p class="h6 mt-3 mb-1" translate>werdegang.2014</p>
                        <a href="https://www.asp-hammerschmiede.de/" target="_blank" style="text-decoration: underline rgba(255, 255, 255, 0.336);">
                            <p class="h6 text-muted mb-0 mb-lg-0" translate>werdegang.asp</p>
                        </a>
                        <p class="h6 text-muted mb-0 mb-lg-0" translate>werdegang.freiwillig</p>
                    </div>
                </div>
                <div class="timeline-step">
                    <div class="timeline-content" data-original-title="2003">
                        <div class="inner-circle"></div>
                        <p class="h6 mt-3 mb-1">2014 - 2020</p>
                        <p class="h6 text-muted mb-0 mb-lg-0" translate>werdegang.realschule</p>
                    </div>
                </div>
                <div class="timeline-step mb-0">
                    <div class="timeline-content" data-original-title="2020">
                        <div class="inner-circle"></div>
                        <p class="h6 mt-3 mb-1" translate>werdegang.bisHeute</p>
                        <p class="h6 text-muted mb-0 mb-lg-0" translate>werdegang.ausbildung</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>