<section id="werdegang">
    <h1 class="headerLine" translate>header.werdegang</h1>
    <hr>
    <div class="card2">
        <div class="card-body" data-aos="fade-up">
            <div *ngIf="screenWidth >= 990">
                <img [src]="currentLang === 'de' ? 'assets/img/werdegang/werdegang_WEIß_DE.svg' : 'assets/img/werdegang/werdegang_WEIß_EN.svg' " alt="" class="werdegangIMG">

            </div>
            <div *ngIf="screenWidth <= 990">
                <img [src]="currentLang === 'de' ? 'assets/img/werdegang/werdegang_WEIß_DE_MOBIL.svg' : 'assets/img/werdegang/werdegang_WEIß_EN_MOBIL.svg' " alt="" class="werdegangIMGMobil">
            </div>
        </div>
    </div>
</section>