<section id="projekte">
    <h1 class="headerLine">Projekte</h1>
    <hr>

    <div class="card2">
        <table data-aos="fade-up">
            <tr>
                <td>
                    <div class="card cardHover" style="width: 18rem;" data-aos="lip-up">
                        <img class="card-img-top" src="assets/img/Einkaufsliste.png" alt="Einkaufsliste">
                        <div class="card-body">
                            <h5 class="card-title">Einkaufsliste</h5>
                            <ul>
                                <li><b>Framework:</b> Angular</li>
                                <li><b>DBMS:</b> MySQL</li>
                                <li><b>Verwendungszeweck:</b> Privat</li>
                                <li><b>Versionsverwaltung:</b> Git</li>
                                <li><b>Entwickler:</b> Janis </li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="assets/img/MagicMirror.png" alt="Magic Mirror">
                        <div class="card-body">
                            <h5 class="card-title">Magic Mirror</h5>
                            <ul>
                                <li><b>Hardware:</b> Raspberry Pi 3, Alter Monitor</li>
                                <li><b>Sonstiges:</b> Holz, Schwarze Farbe, Spionspiegel</li>
                                <li><b>Verwenungszweck:</b> Privat</li>
                                <li><b>Erstellt:</b> Janis, Sokratis </li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="assets/img/Portfolio.png" alt="Portfolio">
                        <div class="card-body">
                            <h5 class="card-title">Portfolio</h5>
                            <ul>
                                <li><b>Framework:</b> Angular</li>
                                <li><b>Verwendungszeweck:</b> Privat</li>
                                <li><b>Versionsverwaltung:</b> Git</li>
                                <li><b>Entwickler:</b> Janis </li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="assets/img/HomeAssistant.png" alt="Schulprojekt">
                        <div class="card-body">
                            <h5 class="card-title">Home Assistant</h5>
                            <ul>
                                <li><b>Hardware:</b> Raspberry Pi 4</li>
                                <li><b>Verwendungszeweck:</b> Privat</li>
                                <li><b>Entwickler:</b> Janis, Sokratis </li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="assets/img/Tarife.png" alt="Schulprojekt">
                        <div class="card-body">
                            <h5 class="card-title">Schulprojekt</h5>
                            <ul>
                                <li><b>Framework:</b> Angular</li>
                                <li><b>DBMS:</b> MySQL</li>
                                <li><b>Verwendungszeweck:</b> Privat</li>
                                <li><b>Versionsverwaltung:</b> Git</li>
                                <li><b>Entwickler:</b> Janis </li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</section>