#projekte {
    text-align: center;
    .content {
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: transform 300ms;
        box-shadow: 0px 0px 10px 1px #000000ee;
        border-radius: 5px;
    }
    .back {
        background-color: #151515;
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        border-radius: 5px;
        overflow: hidden;
    }
    .back {
        width: 100%;
        height: 100%;
        justify-content: center;
        display: flex;
        align-items: center;
        overflow: hidden;
    }
    .back::before {
        position: absolute;
        content: ' ';
        display: block;
        width: 160px;
        height: 160%;
        background: linear-gradient(90deg, transparent, #ff9966, #ff9966, #ff9966, #ff9966, transparent);
        animation: rotation_481 5000ms infinite linear;
        animation-play-state: paused;
    }
    .back:hover::before {
        animation-play-state: running;
    }
    .back-content {
        position: absolute;
        width: 99%;
        height: 99%;
        background-color: #151515;
        border-radius: 5px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    @keyframes rotation_481 {
        0% {
            transform: rotateZ(0deg);
        }
        0% {
            transform: rotateZ(360deg);
        }
    }
    .card4 {
        margin-top: 20px;
        height: 450px;
        width: 500px;
        border-radius: 5px;
    }
    .card2 {
        overflow-x: auto;
        padding-top: 30px;
        padding-left: 20px;
        carousel {
            z-index: 0;
        }
    }
    .card {
        overflow: auto;
        height: 470px;
        min-width: 250px;
        transition: 0.3s;
        box-shadow: 4px 9px 9px -7px black;
        .card-title {
            color: #fd7e14;
        }
        .card-img-top {
            max-height: 160px;
            object-fit: cover;
            margin-top: 10px;
        }
    }
    .card-body ul {
        text-align: left;
    }
    p {
        float: left;
        cursor: pointer;
        color: #fd7e14;
        transition: 0.25s;
        position: relative;
    }
    p:hover {
        color: #c46211;
        transform: translateX(20%);
    }
}