<section id="home">
    <img src="assets/img/Janis2.jpeg" id="Janis" alt="Janis" />

    <div id="weit">
        <table class="socialMediaButton">
            <tr>
                <td>
                    <a href="https://www.instagram.com/jpampou/" target="_blank"><img src="assets/img/Instagram.png" alt="Instagram" width="30px" class="socialMedia"></a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="https://www.linkedin.com/in/janis-p-272187225/" target="_blank"><img src="assets/img/LinkedIn.png" alt="LinkedIn" width="30px" class="socialMedia"></a>
                </td>
            </tr>
        </table>
    </div>

    <div class="vorstellen">
        <h5 id="hi">Hi, ich bin</h5>
        <h1 id="name">Janis Pampoukidis</h1>
        <h5 id="SoftEnt">Fachinformatiker für Anwendungsentwicklung</h5>
        <button type="button" class="btn btn-outline-danger"><a [routerLink]="['/Janis']" fragment="überMich" class="txt2">Über mich</a></button>
        <div id="eng">
            <ul>
                <li>
                    <a href="https://www.instagram.com/jpampou/" target="_blank"><img src="assets/img/Instagram.png" alt="Instagram" width="30px" class="socialMedia"></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/janis-p-272187225/" target="_blank"><img src="assets/img/LinkedIn.png" alt="LinkedIn" width="30px" class="socialMedia"></a>
                </li>
            </ul>
        </div>
    </div>
</section>