<section id="home">
    <div class="berg">
        <div class="card2Home">
            <div class="card-body">
                <div data-aos="fade-left">
                    <img src="assets/img/Janis2.jpeg" id="Janis" alt="Janis" />
                </div>
                <table class="socialMediaButton" id="weit">
                    <tr>
                        <td>
                            <a href="https://www.instagram.com/jpampou/" target="_blank"><img src="assets/img/Instagram.png" alt="Instagram" width="30px" class="socialMedia"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://www.linkedin.com/in/janis-p-272187225/" target="_blank"><img src="assets/img/LinkedIn.png" alt="LinkedIn" width="30px" class="socialMedia"></a>
                        </td>
                    </tr>
                </table>
                <div class="vorstellen" data-aos="fade-up" data-aos-delay="50">
                    <h5 id="hi" translate>home.hi</h5>
                    <h1 id="name">Janis Pampoukidis</h1>
                    <h5 id="SoftEnt" translate>home.beruf</h5>
                    <h4 id="anzahl" translate>überMich.anzahl <span style="color: rgb(255, 119, 8);">{{counter}}</span></h4>
                    <button type="button" class="btn btn-outline-danger"><a (click)="scrollToSection('überMich')" class="txt2" translate>home.überMich</a></button>
                    <div id="eng">
                        <ul>
                            <li>
                                <a href="https://www.instagram.com/jpampou/" target="_blank"><img src="assets/img/Instagram.png" alt="Instagram" width="30px" class="socialMedia"></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/janis-p-272187225/" target="_blank"><img src="assets/img/LinkedIn.png" alt="LinkedIn" width="30px" class="socialMedia"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>